<div id='cssmenu'>
<ul>
   <li><a href='#'><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>Task</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Create Task</span></a>
            <ul>
               <li>{{#link-to 'createtaskforme' }}<span>For me</span>{{/link-to}}</li>
               <li class='last'>{{#link-to 'createtaskforother' }}<span>For other</span>{{/link-to}}</li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Task List</span></a>
            <ul>
               <li><a href='#'><span>For me</span></a></li>
               <li class='last'><a href='#'><span>For other</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='#'><span>About</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>
<div id="body">
<h2>This is show demo app in EmberJS, the futuristic app </h2>
  <br>
    This is sample task management app
</div>


{{outlet}}
