{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}

{{#md-navbar name='Appsara' class='indigo'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'createtaskforme' tagName='li'}}
    {{link-to 'Task' 'createtaskforme'}}
  {{/link-to}}
  {{#link-to 'listtaskforme' tagName='li'}}
    {{link-to 'List' 'listtaskforme'}}
  {{/link-to}}
{{/md-navbar}}

{{#md-card-collapsible }}
    {{#md-collapsible icon="mdi-image-filter-drama"
        title="One"}}

        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    {{/md-collapsible}}
    {{#md-collapsible icon="mdi-maps-place"
        title="Two"}}

        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    {{/md-collapsible}}
    {{#md-collapsible icon="mdi-social-whatshot"
        title="Three"}}

        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    {{/md-collapsible}}
{{/md-card-collapsible}}

{{outlet}}

<footer>
    {{#md-copyright text='Heer Software Studios'
        startYear=2015
        class='light-blue darken-2 white-text'}}
        <a class="white-text right" href="#!">
          More Links
        </a>
    {{/md-copyright}}
</footer>