<h2 id="title">Welcome to Ember.js</h2>


{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}

{{#md-navbar name='Example' class='indigo'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'createtaskforme' }}
    TASK
  {{/link-to}}
  {{#link-to 'tabs' }}
    ABOUT
  {{/link-to}}
{{/md-navbar}}

{{outlet}}

<footer class='page-footer light-blue white-text'>
    {{#md-copyright text='Heer Software Studios'
        startYear=2016
        class='light-blue darken-2 white-text'}}
        <a class="white-text right" href="#!">
          More Links
        </a>
    {{/md-copyright}}
</footer>