
 <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Features</th>
      <th>Batch Name</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Company Management , DailyDiary, Defect Report</td>
      <td><a href="https://bsqa-1.firebaseapp.com/firefox/">Batch 1</a></td>
      
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Mail box</td>
      <td><a href="https://bsqa-2.firebaseapp.com/firefox/">Batch 2</a></td>
    </tr>
      <tr>
      <td class="mdl-data-table__cell--non-numeric">Project Drawing, Reports, RFI</td>
     <td><a href="https://bsqa-3.firebaseapp.com/firefox/">Batch 3</a></td>
    </tr>

  
      <tr>
      <td class="mdl-data-table__cell--non-numeric">Tender Package, Training Compliance</td>
      <td><a href="https://bsqa-4.firebaseapp.com/firefox/">Batch 4</a></td>
    </tr>

  
      <tr>
      <td class="mdl-data-table__cell--non-numeric">Project Management</td>
      <td><a href="https://bsqa-5.firebaseapp.com/firefox/">Batch 5</a></td>
    </tr>

     
      <tr>
      <td class="mdl-data-table__cell--non-numeric">Project Documents</td>
     <td><a href="https://bsqa-6.firebaseapp.com/firefox/">Batch 6</a></td>
    </tr>
  </tbody>
</table>

