<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Features</th>
      <th>Batch Name</th>
      <th>Result Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Company Management , DailyDiary, Defect Report</td>
      <td>Batch 1</td>
      <td>https://bsqa-1.firebaseapp.com/firefox/</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Mail box</td>
      <td>Batch 2</td>
      <td>https://bsqa-2.firebaseapp.com/firefox/</td>
    </tr>
      <tr>
      <td class="mdl-data-table__cell--non-numeric">Project Drawing, Reports, RFI</td>
      <td>Batch 3</td>
      <td>https://bsqa-3.firebaseapp.com/firefox/</td>
    </tr>


      <tr>
      <td class="mdl-data-table__cell--non-numeric">Tender Package, Training Compliance</td>
      <td>Batch 4</td>
      <td>https://bsqa-4.firebaseapp.com/firefox/</td>
    </tr>

  
      <tr>
      <td class="mdl-data-table__cell--non-numeric">Project Management</td>
      <td>Batch 5</td>
      <td>https://bsqa-5.firebaseapp.com/firefox/</td>
    </tr>

    
      <tr>
      <td class="mdl-data-table__cell--non-numeric">Project Documents</td>
      <td>Batch 6</td>
      <td>https://bsqa-6.firebaseapp.com/firefox/</td>
    </tr>
  </tbody>
</table>